body {
  font-size: 14px; }

.hide {
  display: none; }

.limited-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #D84315;
  margin-top: 7px;
  margin-bottom: 7px; }

.form-control {
  font-size: 14px; }

.datepicker {
  z-index: 2000 !important; }

.tooltip {
  line-height: 10px; }
  .tooltip .tooltip-inner {
    padding: 8px 10px; }
  .tooltip.in {
    opacity: 0.8; }

.uploader {
  display: inherit; }

.page-header-light.has-cover {
  background: url(/themes/admin/main/images/backgrounds/seamless.png); }

.btn-raised {
  border-bottom: 3px solid rgba(0, 0, 0, 0.15); }

.page-item.active .page-link {
  background-color: #2196f3;
  border-color: #2196f3; }

.grid-view {
  background-color: white; }
  .grid-view .card-header {
    padding: 10px 10px;
    background-image: url(/themes/admin/custom/img/bg-polygon.png); }
    .grid-view .card-header .card-title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500; }
  .grid-view .kv-grid-toolbar .btn {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    text-transform: initial;
    padding: 7px 17px;
    font-size: 14px; }
  .grid-view .kv-grid-toolbar .glyphicon.glyphicon-resize-full {
    font-family: 'icomoon' !important;
    font-style: normal; }
  .grid-view .kv-grid-toolbar .glyphicon.glyphicon-resize-full:before {
    content: "\eb59"; }
  .grid-view .kv-grid-toolbar ul.dropdown-menu > li {
    width: 100%;
    padding: 0.5rem 1.25rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0; }
  .grid-view .glyphicon {
    font-size: 13px; }
  .grid-view tbody td .list-icons .icon-eye {
    color: #00bcd4; }
  .grid-view tbody td .list-icons .icon-pencil7 {
    color: #2196f3; }
  .grid-view tbody td .list-icons .icon-trash {
    color: #f44336; }

.pagination-right .pagination {
  float: right;
  margin-right: 10px;
  margin-bottom: 2px; }

.select2-search--dropdown {
  padding: 0; }
  .select2-search--dropdown .select2-search__field {
    padding-left: 45px; }

.select2-results__message {
  padding-top: 10px; }

.form-group label {
  margin-right: 10px; }

@media (max-width: 450px) {
  .form-group {
    margin-top: 10px; } }
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }
  input[type="radio"]:focus,
  .radio input[type="radio"]:focus,
  .radio-inline input[type="radio"]:focus {
    outline: none; }
  input[type="radio"]:before, input[type="radio"]:after,
  .radio input[type="radio"]:before,
  .radio input[type="radio"]:after,
  .radio-inline input[type="radio"]:before,
  .radio-inline input[type="radio"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms; }
  input[type="radio"]:before,
  .radio input[type="radio"]:before,
  .radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: #2196F3;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  input[type="radio"]:after,
  .radio input[type="radio"]:after,
  .radio-inline input[type="radio"]:after {
    position: relative;
    top: -3px;
    border: 2px solid #868585; }
  input[type="radio"]:checked:before,
  .radio input[type="radio"]:checked:before,
  .radio-inline input[type="radio"]:checked:before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  input[type="radio"]:disabled:checked:before,
  .radio input[type="radio"]:disabled:checked:before,
  .radio-inline input[type="radio"]:disabled:checked:before {
    background-color: #bbb; }
  input[type="radio"]:checked:after,
  .radio input[type="radio"]:checked:after,
  .radio-inline input[type="radio"]:checked:after {
    border-color: #2196F3; }
  input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
  .radio input[type="radio"]:disabled:after,
  .radio input[type="radio"]:disabled:checked:after,
  .radio-inline input[type="radio"]:disabled:after,
  .radio-inline input[type="radio"]:disabled:checked:after {
    border-color: #bbb; }

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; }
  input[type="checkbox"]:focus,
  .checkbox input[type="checkbox"]:focus,
  .checkbox-inline input[type="checkbox"]:focus {
    outline: none; }
  input[type="checkbox"]:focus:after,
  .checkbox input[type="checkbox"]:focus:after,
  .checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #2196F3; }
  input[type="checkbox"]:after,
  .checkbox input[type="checkbox"]:after,
  .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #868585;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms; }
  input[type="checkbox"]:checked:before,
  .checkbox input[type="checkbox"]:checked:before,
  .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  input[type="checkbox"]:checked:after,
  .checkbox input[type="checkbox"]:checked:after,
  .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #2196F3;
    border-color: #2196F3; }
  input[type="checkbox"]:disabled:after,
  .checkbox input[type="checkbox"]:disabled:after,
  .checkbox-inline input[type="checkbox"]:disabled:after {
    border-color: #bbb; }
  input[type="checkbox"]:disabled:checked:after,
  .checkbox input[type="checkbox"]:disabled:checked:after,
  .checkbox-inline input[type="checkbox"]:disabled:checked:after {
    background-color: #bbb;
    border-color: transparent; }

#notification-box-content .dropdown-content-body {
  max-height: 335px;
  padding: 0; }
  #notification-box-content .dropdown-content-body .media-list {
    cursor: pointer; }
    #notification-box-content .dropdown-content-body .media-list:hover {
      background-color: #eaeaeab0; }
    #notification-box-content .dropdown-content-body .media-list .media {
      margin: 0;
      padding: 10px; }
      #notification-box-content .dropdown-content-body .media-list .media:not(:last-child) {
        border-bottom: 1px solid #e4dede; }
#notification-box-content .dropdown-content-header {
  padding: 10px;
  border-bottom: 1px solid #e4dfdf; }
#notification-box-content .dropdown-content-footer {
  padding: 10px; }

#notification-panel .media {
  cursor: pointer; }
  #notification-panel .media:hover {
    background-color: #eaeaeab0; }

/*# sourceMappingURL=theme.css.map */
